phantomjs_cdnurl=http://cnpmjs.org/downloads
sass_binary_site=http://124.127.40.85:8810/repository/groupmirror/node-sass
sqlite3_binary_site=http://124.127.40.85:8810/repository/groupmirror/sqlite3
registry=http://124.127.40.85:8810/repository/npm_group/
puppeteer_download_host=http://124.127.40.85:8810/repository/groupmirror/